// main: base.scss

$duration: .6s;
$shutterDuration: .2s;

$hamburger-width: 40px;
$hamburger-height: 40px;


#hamburger {
    width: $hamburger-width;
    height: $hamburger-height;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    cursor: pointer;
    top: 50%;
    right: 50px;
    transform: translate(0px, -50%);
    z-index: 100;

    #shutter-layer{
      background-image: url('../assets/img/svg-shutter-icon-2.svg');
      background-size: 100%;
      background-position: center;
      width: 100%;
      height: 100%;
      position: absolute;
      transition: background-size $shutterDuration linear;
      &.grow{
        background-size: 450%;
      }
    }

    #X-layer{
      color: $neutral-light;
      position: absolute;
      opacity: 1;
      right: 50%;
      top: 50%;
      font-size: 2.5em;
      transform: translate(50%,-50%);
      transition: opacity $duration linear;

      &.hidden{
      opacity: 0;
      }
    }
}

//
//Forward to X
//
