// main: base.scss

$duration: .2s;
$shutterDuration: .3s;

$hamburger-width: 40px;
$hamburger-height: 40px;


#hamburger {
    width: $hamburger-width;
    height: $hamburger-height;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    cursor: pointer;
    top: 50%;
    right: 50px;
    transform: translate(0px, -50%);
    border-radius: 50%;
    overflow: hidden;
    z-index: 100;

    #shutter-layer{
      background-image: url('../assets/img/svg-shutter-icon-2.svg');
      background-size: 100%;
      background-position: center;
      width: 100%;
      height: 100%;
      position: absolute;
      transition: background-size $shutterDuration ease-in-out;
      &.grow{
        background-size: 450%;
      }
    }

    #X-layer{
      color: $neutral-light;
      display: none;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      position: absolute;
      opacity: 1;
      right: 50%;
      top: 50%;
      font-size: 2.5em;
      transform: translate(50%,-50%);
      transition: opacity $duration linear;
      &.ready{
        display: flex;
      }

      &.hidden{
      opacity: 0;
      }
      &:not(.hidden){
        .xPiece{
          width: 5px;
          height: $hamburger-height;
          border-radius: 4px;
          background-color: $neutral-light;
          position: absolute;

        }
        .xPiece:nth-child(1){

          transform: rotate(45deg);
          transform-origin: center;
        }
        .xPiece:nth-child(2){
          transform: rotate(-45deg);
          transform-origin: center;

        }
      }

    }
}
