// main: base.scss

$menuDuration: .6s;

@media(max-width: 680px){
  #navbar{
    #logo{
      font-size: 1.8rem;
    }
  }
}

@media(max-width: 1200px){

    #navbar {
      align-items: flex-start;
      justify-content: flex-start;
      height: 10vh;
      #logo{
        height: 100%;
      }

      #nav-buttons{
        // &.closed{
        //   display: none;
        //
        // }
        margin: 0;
        .navButton{
          text-align: center;
          a{
            display: flex;
            justify-content: center;
            width: 100%;
            text-align: center;
            padding: 0;

          }
        }
        &.hamMenu{
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: center;
          height: 260px;
          width: 200px;
          box-sizing: border-box;
          position: fixed;
          right: 0px;
          top: 6vh;
          transition: right .3s ease-in-out;
          padding: 2vh 0px 1vh 0px;
          background-color: $neutral-dark;
          z-index: -1;
          border-radius: 2px;

          &.closed{
            right: -220px;
          }

          .navButton{
            position: relative;
            width: 100%;
            background-color: $neutral-dark;
            display: flex;
            justify-content: center;
            a{
              display: flex;
              align-items: center;
              height: 100%;
              padding: 0vh 20px;
              color:$neutral-light;
              font-size: 1.3em;
              position: relative;
              &:after{
                content: '';
                display: block;
                position: absolute;
                bottom: 0px;
                left: 0;
                height: 5px;
                width: 100%;
                transform: scaleX(0);

                background-color: $main-color;
                transition: transform .1s linear;
              }

              &:hover{
                color: $main-color;
                &:after{

                  transform: scaleX(1);
                }

              }

            }
          }


        }
      }




    @import 'hamburger';

    }
}
