// --------------------------------------------------
// Variables
// --------------------------------------------------

$main-color: #a5e33b;
$neutral-light: white;
$neutral-dark: #141414;

$fast-transition: 200ms;
$med-transition: 400ms;
$slow-transition: 800ms;

// --------------------------------------------------
// Imports
// --------------------------------------------------

@import 'homepage';

// --------------------------------------------------
// Global Styles
// --------------------------------------------------

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Teko, Arial, sans-serif;
}

ul, ol {
    list-style-type: none;
}

img {
    display: block;
    max-width: 100%;
}
