// --------------------------------------------------
// Variables
// --------------------------------------------------

$main-color: #a5e33b;
$neutral-light: white;
$neutral-dark: #141414;

$fast-transition: 200ms;
$med-transition: 400ms;
$slow-transition: 800ms;

$page-margin: 20vh;

$copy-font: Hind, Arial, sans-serif;
$display-font: Teko, Impact, sans-serif;

// --------------------------------------------------
// Imports
// --------------------------------------------------

@import 'homepage';
@import 'parent';
@import 'gallery';
@import 'navbar';
@import 'footer';

// --------------------------------------------------
// Global Styles
// --------------------------------------------------

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: $copy-font;
    color: $neutral-dark;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $display-font;
}

ul, ol {
    list-style-type: none;
}

a{
  text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    max-height: 100%;
}

h2.sectionTitle{
  font-size: 3em;
}


.content{
  margin: $page-margin;
}

p {
    font-size: 1.25em;
    line-height: 1.75;
}
